* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.admin-container {
    display: flex;
    height: 100vh;
}

.admin-menu {
    background-color: #f9f9f9;
    color: #333;
    width: 250px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.admin-menu h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #007bff;
}

.admin-menu ul {
    list-style: none;
    padding: 0;
}

.admin-menu li {
    margin-bottom: 10px;
}

.admin-menu a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

.admin-menu a:hover {
    text-decoration: underline;
}

.admin-content {
    flex: 1;
    padding: 20px;
}

.screen {
    display: none;
}

.form-preview, .container, .detail-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

.admin-menu li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label, select {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;
}

select {
    width: calc(100% - 12px); /* Ajuste para compensar a largura da seta do select */
}

button {
    background-color: #0074D9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.motivo-container {
    display: flex;
    align-items: center;
}


button:hover {
    background-color: #005ea6;
}
